#loginButton,#signupbutton{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: brown;
    box-shadow: 2px 2px 2px black;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
}